#key { background: url('../img/index/key.jpg') no-repeat center center; }
#newtopics {
	margin: 50px auto 50px;
	text-align: center;
	width: auto;
	max-width:100%;
}
#app {
	margin: 50px auto 0;
	text-align: center;
	
}
#bnr {
	margin-top: 50px;
}
#bnr h2{
	text-align: center;
	margin-bottom: 30px;
	font-size: 35px;
}
#bnr li {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

#bnr li:nth-child(4n) { margin-right: 0; }

#sec01 { padding: 60px 0 0; }

#sec01 h2 {
	position: absolute;
	top: 0;
	left: 0;
}

#sec01 .col-left {
	float: left;
	width: 581px;
	padding-top: 98px;
}

#sec01 .col-left .ttl {
	float: left;
	margin-right: 7px;
	margin-bottom: 19px;
}

#sec01 .col-left .ttl:nth-child(4n) { margin-right: 0; }

#sec01 .list { margin-top: 22px; }

#sec01 .list > div { width: 255px; }

#sec01 .list dl {
	border-bottom: 1px solid #483d35;
	padding: 14px 0 13px;
	letter-spacing: 1.4px;
}

#sec01 .list dl dt:before {
	content: "◆";
	color: #846e56;
}

#sec01 .col-right {
	padding-top: 0px;
	width: 381px;
	float: right;
}

#sec01 .txt {
	margin-top: 18px;
	text-align: center;
}

#sec01 h3.mt36 { margin-top: 35px; }

#sec01 #feed { font-size: 15px; }

#feed .img-rss {
	width: 80px;
	float: left;
	height: 80px;
	background-color: #fff;
	position: relative;
}
#feed .img-rss span{
  width: 80px !important;
  height: 80px !important;
}
#feed .item { margin-top: 30px; }

#feed dl {
	width: 278px;
	float: right;
}

#feed dl dt {
	margin-bottom: -6px;
	position: relative;
	top: -6px;
}

#pickup { padding: 0 0 76px; }

#pickup .item {
	width: 480px;
	margin: 27px auto 0 auto;
	text-align: center;
}

#pickup .item img { display: inline-block; }



#pickup .txt {
	text-align: center;
	line-height: 180%;
	color: #d8a246;
	font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, メイリオ, Meiryo, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	margin-top: 10px;
}

#news {
	background: url('../img/index/news_bg.jpg') repeat;
	padding: 62px 0 100px;
	min-height: 661px;
}

#news h2 {
	text-align: center;
	margin-bottom: 20px;
}

#news .news_box {
	position: relative;
}
#news .feed { width: 580px; }


#news .item {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px dotted #666;
}

#news .item p {
	float: left;
	width: 276px;
	height: 186px;
}
#news .item p span{
  width: 276px !important;
	height: 186px !important;
}
#news .item dl {
	float: right;
	font-weight: bold;
	line-height: 25px;
	width: 280px;
}

#news .item dl .date { font-size: 13px; }

#news .item dl .title {
	padding-bottom: 10px;
	font-size: 18px;
}

#news .item dl .post {
	font-weight: normal;
	font-size: 14px;
}
#news .news_img {
	max-width: 460px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #d49f54;
	background: #000;
	box-sizing: border-box;
	padding: 25px 31px 20px;
	position: relative;
	text-align: center;
}
#news .news_img h3 {
	display: inline-block;
	border-bottom: 1px solid #423019;
	padding-bottom: 27px;
}
#news .txt {
	font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, メイリオ, Meiryo, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size: 13px;
	line-height: 185%;
	letter-spacing: 1px;
	margin-top: 15px;
}

#news .sec02-banner, .btn-common {
	text-align: center;
	margin-top: 6%;
}

#news .sec02-banner a, .btn-common a {
	display: inline-block;
	text-decoration: none;
	border: 1px solid #d49f54;
	padding: 10px 100px;
	font-size: 140%;
	letter-spacing: 2px;
	position: relative;
}

#news .sec02-banner a:after, .btn-common a:after {
	content: ">";
	position: absolute;
	top: 8px;
	right: 14px;
	transform: scale(0.8,1);
}



.btn0 {
	text-align: center;
	margin-bottom: 5%;
}

.btn0 a {
	display: inline-block;
	text-decoration: none;
	border: 1px solid #d49f54;
	padding: 10px 100px;
	font-size: 140%;
	letter-spacing: 2px;
	position: relative;
}

.btn0 a:after {
	content: ">";
	position: absolute;
	top: 8px;
	right: 14px;
	transform: scale(0.8,1);
}

.btn_report {
	text-align: center;
	margin-top: 5%;
}

.btn_report a {
	display: inline-block;
	text-decoration: none;
	border: 1px solid #d49f54;
	padding: 15px 200px;
	font-size: 140%;
	letter-spacing: 2px;
	position: relative;
}

.btn_report a:after {
	content: ">";
	position: absolute;
	top: 30%;
	right: 14px;
	transform: scale(0.8,1);
}

#sec03 {
	background: url('../img/index/sec3_bg.png') no-repeat center 427px;
	padding: 154px 0 0;
}

#sec03 h2 {
	text-align: center;
	margin-bottom: 52px;
}

#sec03 h3 {
	margin-top: 25px;
	text-align: center;
}

#sec03 p.txt {
	position: relative;
	z-index: 1;
	padding: 0 0 0 73px;
	margin-top: 70px;
	font-size: 18px;
	line-height: 34px;
	letter-spacing: 1px;
}

#sec03 p.toggle-link { text-align: center; }

#sec03 .toggle1 .toggle-main {
	width: 920px;
	margin: 20px auto;
	padding: 40px;
	background-color: rgba(0, 0, 0, 0.72);
	line-height: 1.8em;
	position: relative;
}

#sec03 .toggle1 .toggle-main h4 {
	text-align: center;
	font-size: 30px;
	line-height: 2em;
	font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
}

#sec03 .toggle1 .toggle-main h5 {
	text-align: center;
	font-size: 20px;
	margin-bottom: 3em;
}

#sec03 .toggle1 .toggle-main h6 {
	font-size: 16px;
	text-align: center;
	margin-bottom: 1.6em;
}

#sec03 .toggle1 .toggle-main dl {
	width: 700px;
	margin: auto;
	font-size: 14px;
	padding-bottom: 1.1em;
	padding: 15px;
	border: 1px rgba(255, 255, 255, 0.28) solid;
}

#sec03 .toggle1 .toggle-main dl {
	font-size: 14px;
	margin-bottom: 2em;
}

#sec03 .toggle1 .toggle-main dl dt {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 0.4em;
	color: rgba(215, 199, 173, 1.00);
}

#sec03 .closebtn {
	width: 80px;
	position: absolute;
	top: 20px;
	right: 20px;
	text-align: center;
	border: 1px rgba(252, 252, 252, 0.59) solid;
	display: block;
	cursor: pointer;
	padding: 4px;
	text-indent: 0;
}

#sec03 .sec03_img {
	margin-top: -72px;
	margin-left: -200px;
}

#sec04 {
	padding: 97px 0 50px;
	min-height: 413px;
}

#sec04 .info { width: 666px; }

#sec04 h2 {
	padding-top: 20px;
	margin: 0 0 47px;
}

#sec04 .wrap_img {
	margin-top: 0;
	min-height: 370px;
	position: absolute;
}

#sec04 .sec04_img {
	/*background: url('../img/index/sec4_img.png') no-repeat left top;*/
	height: 410px;
	position: absolute;
	top: 0;
	left: 0;
	width: 244px;
	-webkit-animation-name: move; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: infinite;
	animation-name: move;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes move {
	0% { top:0px; }
	50% { top: 10px; }
	100% { top: 0px; }
}

/* Standard syntax */
@keyframes move {
	0% { top:0px; }
	50% { top: 20px; }
	100% { top: 0px; }
}

#sec04 .txt {
	padding-left: 4px;
	letter-spacing: 0.2px;
	line-height: 30px;
	font-size: 18px;
	display: block;
}

#sec04 .txt p.txt01 {
	margin-top: 30px;
	line-height: 34px;
}

#sec04 .txt p.txt02 { margin-top: 56px; }

#sec04 .txt span {
	letter-spacing: 2px;
	font-size: 22px;
	color: #a48444;
}

@media screen and (min-width: 769px) {

	#sec01 .col-right h3 { text-align: center; }

	#sec01 h3.mt36 { margin-top: 30px; }

	#sec03 .txt {
		cursor: vertical-text;
		writing-mode: vertical-rl;
		-o-writing-mode: vertical-rl;
		-ms-writing-mode: vertical-rl;
		-ms-writing-mode: tb-rl;
		-moz-writing-mode: vertical-rl;
		-webkit-writing-mode: vertical-rl;
		text-orientation: upright;
		word-wrap: break-word;
		height: 447px;
	}

	#pickup .item {
		width: 480px !important;
		display: block !important;
		position: relative !important;
		opacity: 1 !important;
		margin-top: 27px;
	}

	#pickup .bx-wrapper .bx-controls-direction { display: none; }

	#news .news_img {
		position: absolute;
		right: 0;
		top: 0;
		width: 364px;
		height: 460px;
	}
	#news .news_img .txt {
		display: block !important;
		height: auto !important;
		opacity: 1 !important;
		margin-top: 15px !important;
	}
}

@media screen and (max-width: 768px) {
	#bnr{
		margin-bottom: 10%;
	}
	#bnr h2{
		font-size: 30px;
	}
	#bnr li {
		float: left;
		margin-right: 2%;
		margin-bottom: 2%;
		width: 48%;
	}

	#bnr li img { width: 100%; }

	#bnr li:nth-child(4) { margin-right: 0%; }

	#sec01 {
		background: #17191d;
		padding: 30px 0;
	}

	#sec01 h2 { position: relative; }

	#sec01 .col-left, #sec01 .col-right {
		float: none;
		width: auto;
		padding: 0;
		margin-top: 20px;
	}

	#sec01 .list { margin-top: 0; }

	#sec01 .list > div {
		width: 48%;
		float: left;
	}
	#sec01 .list > div dd a {
		white-space: nowrap;
	}
	#sec01 .list > div dd br {
		display: none;
	}

	#sec01 .list > div + div { margin-left: 4%; }

	#sec01 .col-left .ttl {
		float: left;
		margin-right: 2%;
		margin-bottom: 2%;
		width: 23%;
	}

	#sec01 .col-left .ttl img { width: 100%; }

	#sec01 .col-left .ttl:nth-child(4) { margin-right: 0%; }

	#sec01 h3 {
		width: 90%;
		text-align: center;
		margin: auto;
		margin-top: 30px;
	}

	#sec01 #feed {
		width: 90%;
		margin: 15px auto 0;
	}

	#sec01 #feed dl { width: calc(100% - 90px); }

	#pickup { padding: 0 0 30px; }

	#pickup .bnr {
		position: relative;
		width: 85%;
		margin: auto;
	}

	#pickup .item {
		width: auto;
		margin-right: 0;
		margin-top: 0;
	}

	#news {
		padding: 20px 0 30px;
		min-height: auto;
	}

	#news .txt {
		width: 100%;
		right: auto;
	}

	#news .feed { width: auto; }

	#news .item {
		margin-bottom: 20px;
		padding-bottom: 20px;
	}

	#news .item p {
		width: 35%;
		height: auto;
	}

	#news .item dl { width: 63%; }

	#news .item dl .title { font-size: 16px; }
	#news .sec02-banner a {
		padding: 2% 0;
		display: block;
		margin: 0 2%;
		font-size: 98%;
	}
	#news .news_img {
		text-align: center;
		position: relative;
		margin-top: 6%;
	}
	#news .news_img h3 {
		padding-bottom: 15px;
	}
	#sec03 {
		background: none;
		padding: 30px 0 0;
	}
	.btn0 a {
		padding: 2% 0;
		display: block;
		margin: 0 2%;
		font-size: 98%;
	}
	.btn_report a {
		padding: 2% 0;
		display: block;
		margin: 0 2%;
		font-size: 120%;
	}

	#sec03 h2 { margin-bottom: 20px; }

	#sec03 .sec03_img { margin: 20px 0 0; }

	#sec03 .toggle1 .toggle-main {
		width: auto;
		padding: 20px 2%;
	}

	#sec03 .toggle1 .toggle-main h5 { margin-bottom: 1em; }

	#sec03 .toggle1 .toggle-main dl {
		margin-bottom: 1em;
		width: auto;
	}
	#sec03 .toggle2 {
		padding: 0 2%;
	}
	#sec03 .toggle2 .toggle-link {
		font-style: italic;
		margin-top: 5px;
		text-align: left;
	}

	#sec03 .closebtn { display: none; }

	#sec03 p.txt {
		padding: 0;
		margin-top: 20px;
		padding: 0 2%;
		font-size: 16px;
		line-height: 30px;
	}

	#sec04 { 
		padding: 0px 0 30px;
		margin-top: 0;
		min-height: auto;
	}

	#sec04 .info { width: auto; }

	#sec04 h2 { margin-bottom: 0; }

	#sec04 .wrap_img {
		min-height: 200px;
		position: absolute;
		top: -48%;
		right: 0px;
		width: 25%;
	}
	#sec04 .sec04_img {
		/*position: relative;*/
		/*margin: auto;*/
		height: 151px;
		position: absolute;
		top: 0px;
		right: 0px;
		width: auto;
		animation: none;
	}

	#sec04 .toggle3 .toggle-link {
		margin-top: 10px;
		font-style: italic;
	}
	#sec04 .txt {
		font-size: 16px;
		line-height: 28px;
		margin-top: 15px;
		display: none;
	}
	#sec04 .active .txt {
		display: block;
	}

	#sec04 .txt span {
		font-size: 18px;
		line-height: 28px;
	}

	#sec04 .txt p { margin-top: 15px !important; }

}
@media screen and (max-width: 550px) {
	#sec04 .wrap_img {
		top: -110px;
		width: 30%;
	}
}
@media screen and (max-width: 450px) {
	#news .item dl .title {
		height: 25px;
		padding-bottom: 0;
		margin-bottom: 10px;
		overflow: hidden;
		display: -webkit-box;
		text-overflow: ellipsis;
	}
	#news .item dl .post {
		height: 78px;
		overflow: hidden;
		display: -webkit-box;
		text-overflow: ellipsis;
	}
}
@media screen and (max-width: 400px) {
	#news .item dl .post {
		height: 52px;
	}
}

#pickup .bx-wrapper .bx-viewport { overflow: inherit !important; }

#pickup .bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 40%;
	margin-top: -25px;
	outline: 0;
	width: 26px;
	height: 51px;
	text-indent: -9999px;
	z-index: 9999;
}

#pickup .bx-wrapper .bx-controls-direction a.bx-prev {
	background: url('../img/index/bx-prev.png') no-repeat center top;
	left: -34px;
}

#pickup .bx-wrapper .bx-controls-direction a.bx-next {
	background: url('../img/index/bx-next.png') no-repeat center top;
	right: -34px;
}
.btn_report.btn_sidebar a {
	padding: 12px 38px 12px 20px;
	font-size: 120%;
    display: block;
}
.btn_report.btn_sidebar a:after {
	top: 22%;
}

.interview202005{ width: 100%; padding: 30px 0; background-color: #1f2126;}
.interview202005 img{ width: 100%;}
.interview202005 p{ width:100%; max-width:1000px; margin:20px auto;}

#rss_youtupe {
  z-index: 1;
  min-height: 350px;
  padding: 80px 0 80px;
}
#rss_youtupe h2{
	font-size:40px;
	letter-spacing: 2px;
	text-align: center;
	color:#d49f54;
	padding:0 0 40px;
}
#feed4 .item {
	width:30%;
  text-align:left;
  float:left;
  margin-left:3%;
}
#feed4 .item .rss-img a {
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;  
}
#feed4 .item .rss-img span{
  width: 300px !important;
  height: 180px !important;
}
.news .item .rss-date {
  font-size: 14px;
  font-weight:bold;
  color:#b16400;
  line-height: 20px;
  margin-bottom:10px;
}
.news .item .rss-tit {
  font-size: 14px;
  line-height: 160%;
}

#feed4 .rss-btn{
  position:relative;
  margin-left: auto;
  top:10px;
	width:100%;
	font-size:12px;
}

#feed4 .rss-btn a{
	width:100% !important;
	font-size:13px;
  line-height: 2.4;
  height: 30px;
  padding: 0 10px 0 12px;
  text-align: center;
  display: block;
}

@media screen and (max-width: 768px) {
  #feed .img-rss span, #news .item p span, #feed4 .item .rss-img span{
    padding-bottom: 100%;
    display: block;
    width: 100% !important;
    height: auto !important;
}
  #feed4 .item .rss-img span{
    padding-bottom: 61;
    height: 0;
  }
}
@media screen and (max-width: 460px) {
  #feed4 .item{
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
  #feed4 .item p {
    width: 35%;
    height: auto;
    float: left;
  }
  #feed4 .item dl {
    width: 61%;
    float: right;
  }
  #feed4 .item:nth-child(3){
    margin-bottom: 0;
  }
}