
html { min-width: 1000px; /* viewport */ }

/*----------pick up---------*/

.pickup-page {
	margin-top: 50px;
	margin-bottom: 40px;
	display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.pickup-page p:nth-child(1){
padding-right: 10px;
float:none !important;
}
.pickup-page p:nth-child(2){
padding-left: 10px;
float:none !important;
}
.pickup-page h2{
	text-align: center;
	margin-bottom: 30px;
	font-size: 35px;
	    display: block;
    width: 100%;
}
.pickup-page ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}
.pickup-page li {
	margin-right: 20px;
	margin-bottom: 20px;
}
.pickup-page li:last-child {
	margin-right: 0;
}

@media (max-width: 1100px) and (min-width: 769px) {
	.pickup-page ul {
		width: 1000px;
	}
	.pickup-page li img {
		max-width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 768px) {
	.pickup-page ul {
		width: auto;
		padding: 0 2%;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.pickup-page li {
		margin-right: 2%;
		margin-bottom: 2%;
		width: 49%;
	}
	.pickup-page {
		flex-direction: column;
	}
	.pickup-page li:nth-child(2n) {
		margin-right: 0;
	}
	.pickup-page li img {
		width: 100%;
	}
	.pickup-page p:nth-child(1){
padding-right: 0px;
margin-bottom: 20px;
padding: 0 2%;
}
.pickup-page p:nth-child(2){
padding-left: 0px;
padding: 0 2%;

}
}

/*----------popup---------*/
#instafeed2 {
	text-align: center;
	padding-bottom: 2%;
}

#instafeed2 li { display: inline; }

#instafeed2 li + li { margin-left: 10px; }

#instafeed2 li img { margin-bottom: 10px; }

#close-window { cursor: pointer; }

#popup-style { padding: 5% 0; }

#popup-style .close { text-align: center; }

#popup-style .sec_ct { display: block; }

#popup-style #button-popup { display: none; }

#popup-style #popup { box-shadow: none; }

#cboxClose {
	background: url(../img/shared/popup-close.png) no-repeat center top;
	width: 36px;
	height: 36px;
	bottom: 4%;
	left: 0;
	right: 0;
	text-align: center;
	margin: auto;
	z-index: 999;
}

#cboxContent {
	background: none;
	overflow: inherit !important;
}

#cboxOverlay { background: rgba(0, 0, 0, 0.8); }

#cboxLoadedContent { overflow: inherit !important; }

.sec_ct { display: none; }

#button-popup-sp {
	right: 0%;
	position: absolute;
	top: -170px;
	width: 90px;
	z-index: 9;
}

#popup #instafeed { width: 467px; }

#popup #instafeed li {
	display: inline;
	max-width: 102px;
	margin-left: 6px;
	padding-bottom: 6px;
}

#popup #instafeed li:nth-child(4) { margin-left: 114px; }

#popup #instafeed li a img {
	margin-bottom: 6px;
	max-width: 102px;
}

#popup {
	background: url(../img/shared/popup-bg.jpg) repeat center top;
	color: #fff;
	padding-bottom: 5%;
	border: 1px solid #323232;
	max-width: 860px;
	margin: auto;
	z-index: 99;
	position: relative;
	box-shadow: 0px 0px 8.4px 12.6px rgba(0, 0, 0, 0.8);
}

#popup .info {
	position: relative;
	background: url(../img/shared/popub-bg.png) no-repeat center top;
	padding-bottom: 10%;
	padding-top: 10%;
}

#popup .info .link {
	padding-left: 48%;
	width: 42%;
}

#popup #instagram {
	padding-top: 5%;
	padding-left: 45%;
	height: 200px;
}

#popup .menu {
	width: 80%;
	margin: 0 auto;
	border-bottom: 1px solid #77634e;
}

#popup .row {
	padding: 4% 0;
	position: relative;
}

#popup .row + .row { border-top: 1px dotted #77634e; }

#popup .menu li { float: left; }

#popup .txt { padding-left: 14%; }

#popup .qr {
	max-width: 40%;/*140px*/
	position: absolute;
	right: 1%;/*4%*/
	top: 8%;
}

#popup .menu ul {
	padding-left: 14%;
	padding-top: 3%;
	width: 100%;
}

#popup .list { width: 48%; }

#popup .list:first-child { float: left; }

#popup .list:last-child { float: right; }

#popup .row:before {
	position: absolute;
	left: 0;
	width: 28px;
	height: 28px;
	content: "";
}

#popup .stt2 .txt { padding-bottom: 4em; }

#popup .stt1, #popup .stt3 { min-height: 6em; }

#popup .stt1:before { background: url(../img/shared/stt1.png) no-repeat center top/100%; }
#popup .stt2:before { background: url(../img/shared/stt2.png) no-repeat center top/100%; }
#popup .stt3:before { background: url(../img/shared/stt3.png) no-repeat center top/100%; }
#popup .stt4:before { background: url(../img/shared/stt4.png) no-repeat center top/100%; }

#popup .button {
	text-align: center;
	padding: 5% 0;
	max-width: 380px;
	margin: auto;
}
#btn_home{
	position: absolute;
	top: 30px;
	left: 10px;
	z-index: 1000;
}
#btn_home a {
	display: inline-block;
	text-decoration: none;
	border: 1px solid #40342a;
	padding: 0px 20px 0px 20px;
	letter-spacing: 2px;
	position: relative;
	font-size: 90%;
}
#btn_home a:hover{
	background-color: #0b0c13;
}
#btn_home a:after {
	content: ">";
	position: absolute;
	top: 0px;
	right: 5px;
	transform: scale(0.8,1);
}

.interview_btn{position: fixed;
		right: -3px;
		bottom: 93px;
width: 30vw;
z-index:9999;}

@media screen and (min-width: 769px) {
	.interview_btn{position: fixed;
		right: 0;
		bottom: 120px;
		width: 200px;
		z-index: 1;
}

	.off-popup {
		position: fixed;
		right: 0;
		top: 15px;
		max-width: 50px;
		z-index: 9;
		display: block;
		cursor: pointer;
		display: none;
	}
	.off-popup.small {
		display: block;
	}
	.off-popup.active {
		display: none;
	}
	.on-popup {
		position: fixed;
		right: 0;
		top: 15px;
		max-width: 130px;
		z-index: 9;
		display: block;
		transition: all ease 0.3s;
		cursor: pointer;
		
	}
	.on-popup.small {
		right: -150px;
	}
	.on-popup.active {
		right: 0;
	}
}


@media screen and (max-width: 768px) {

	#popup { max-width: 94% !important; }

	#colorbox {
		left: 0 !important;
		width: 100% !important;
	}

	#cboxWrapper {
		width: 100% !important;
		height: 100% !important;
	}

	#cboxContent {
		width: 100% !important;
		top: 0;
		position: absolute;
	}

	#cboxLoadedContent { width: 100% !important; }

	#popup .info .link {
		width: 80%;
		margin: auto;
		padding-left: 0;
		padding-top: 20%;
	}

	#popup .info .link li:last-child {
		width: 70%;
		float: right;
	}

	#popup #instafeed li:nth-child(4) { margin-left: 100px; }

	#popup #instagram {
		padding-left: 0;
		width: 80%;
		margin: auto;
	}

	#popup .menu li {
		float: left;
		width: 90px;
	}

	#popup .info { background: url(../img/shared/popub-bg.png) no-repeat center top/100%; }

	#popup .qr {
		top: 8%;
		right: 0;
		max-width: 63px;
	}

	#popup .stt2 .txt {
		padding-bottom: 6em;
		line-height: 20px;
	}

	#button-popup-sp { display: block; }

	#button-popup { display: none; }

	#popup #instafeed { margin: 0 auto; }

	#popup .txt {
		padding-left: 18%;
		font-size: 13px;
	}
	.off-popup {
		display: none;
	}
}

@media screen and (max-width: 540px) {

	#popup .list {
		width: 100%;
		text-align: center;
	}

	#popup .txt { padding-left: 0; }

	#popup .menu ul {
		padding-left: 0;
		width: 180px;
		margin: auto;
	}

	#popup .qr {
		top: inherit;
		right: inherit;
		max-width: 74px;
		position: inherit;
		margin: auto;
	}

	#popup .stt2 .txt { padding-bottom: 0; }

	.row { border-top: 1px dotted #77634e; }

	.list:first-child .row { border: none; }

	#popup .row:before { top: 34%; }

	#popup .stt1, #popup .stt3 { min-height: inherit; }

	#popup #instafeed li a img { max-width: 90px; }

	#popup #instafeed { width: 390px; }

	#popup .info { padding-bottom: 0; }

	#popup .button { width: 70%; }

	#popup .info {
		background: url(../img/shared/popup-info.png) no-repeat center top/100%;
		padding-top: 34%;
	}
}

@media screen and (max-width: 460px) {

	#popup .row:before { width: 20px; }

	#popup #instafeed { width: 316px; }

	#popup #instafeed li a img { max-width: 70px; }

	#popup #instafeed li:nth-child(4) { margin-left: 80px; }
}

/*----------end popup---------*/




/*=============================================
 * body
 *=============================================*/

body {
	color: #fff;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "メイリオ", Meiryo, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 0;
	background: url('../img/shared/bg.jpg') repeat center top;
	min-width: inherit;
	max-height: 100%;
}

/*=============================================
 * fonts - DON'T EDIT
 *=============================================*/

.fnt-mincho { font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "メイリオ", Meiryo, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; }

.fnt-meiryo { font-family: "メイリオ", Meiryo, "ヒラギノ角ゴシックPro", "ＭＳ ゴシック", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

.fnt-gothic { font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; }

/*=============================================
 * #wrapper
 *=============================================*/

#wrapper {
	clear: both;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.wrap { width: 1000px; }

.unwrap {
	margin-left: -2%;
	margin-right: -2%;
}

.txt_brown { color: #d7a255; }

#thanks {
	padding: 80px 0 80px;
	text-align: center;
}

#thanks p {
	margin-top: 20px;
	font-size: 16px;
}

/*=============================================
 * header
 *=============================================*/

#header {
	background: url('../img/shared/bg-head.png') repeat-x center bottom;
	position: relative;
	height: 840px;
	overflow: hidden;
}

#header .wrap { z-index: 0; }

#header h1 {
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴシックPro", "ＭＳ ゴシック", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	line-height: 20px;
	position: absolute;
	top: 70px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
	width: 96%;
	z-index: 1;
	padding: 0 10px;
}

#header .logo {
	position: absolute;
	top: 111px;
	left: 50%;
	margin-left: -174px;
	z-index: 1;
}

#header .info-head {
	text-align: center;
	position: absolute;
	top: 361px;
	left: 50%;
	width: 580px;
	margin-left: -290px;
	z-index: 2;
}

#header .info-head .head_btn {
	margin-bottom: 29px;
	float: left;
}

#header .info-head .head_btn:nth-child(2n) { margin-left: 40px; }

#header .info-head .ttl {
	position: relative;
	top: -5px;
}

#header .info-head .search { margin-top: 41px; }

#header > .wrap { z-index: unset; }

#header .search-box {
	margin: auto;
	width: 100%;
	max-width: 620px;
	position: absolute;
	top: 330px;
	left: 50%;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	z-index: 2;
}

#header .search-box > * { margin: 30px 0; }

#header .search-row {
	display: table;
	width: 100%;
}

#header .search-box .search-row:first-child .search-col:first-child { display: none; }

#header .search-box .search-row:first-child .search-col + .search-col {
	display: block;
	width: 310px;
	margin: auto;
}

#header .search-col {
	display: table-cell;
	padding: 0 20px;
	vertical-align: middle;
	width: 50%;
}

#header .search-col input {
	display: none !important;
	padding: 10px;
	background-color: #EFEFEF;
	background-repeat: no-repeat;
	background-position: 97.5% center;
	width: 100%;
	border: none;
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
}

#header .search-col input:focus {
	box-shadow: 0 0 5px #FEFEFE,  0 0 5px 1px #DF892A;
	-moz-box-shadow: 0 0 5px #FEFEFE,  0 0 5px 1px #DF892A;
	-webkit-box-shadow: 0 0 5px #FEFEFE,  0 0 5px 1px #DF892A;
}

#header .search-col input.search-loading {
	cursor: wait;
	background-image: url(../img/shared/search-loading.gif);
}

#header .search-block {
	color: #000;
	background: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	position: relative;
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
}

#header .search-block.search-error {
	color: #F44336;
	text-shadow: 1px 1px 1px #FEFEFE;
	background: #FFEBEE;
	box-shadow: 0 0 3px 1px #FEFEFE,  0 0 1px 2px #909090,  inset 0 0 3px 1px #F44336,  inset 0 0 1px 2px #FEFEFE;
	-moz-box-shadow: 0 0 3px 1px #FEFEFE,  0 0 1px 2px #909090,  inset 0 0 3px 1px #F44336,  inset 0 0 1px 2px #FEFEFE;
	-webkit-box-shadow: 0 0 3px 1px #FEFEFE,  0 0 1px 2px #909090,  inset 0 0 3px 1px #F44336,  inset 0 0 1px 2px #FEFEFE;
}

#header .search-caption {
	cursor: pointer;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	position: relative;
}

#header .search-block.search-loading .search-caption { cursor: wait; }

#header .search-block.search-loading .search-caption:before {
	content: "";
	margin: auto;
	background: url(../img/shared/search-loading.gif) no-repeat center;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0;
	left: 15px;
	bottom: 0;
	z-index: 1;
}

#header .search-block.search-error .search-caption { cursor: not-allowed; }

#header .search-name {
	padding: 10px;
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
}

#header .search-block.search-loaded:not(.search-loading) .search-name:hover { color: #CE9A51; }

#header .search-icon {
	margin: auto;
	color: transparent;
	border-top: 7px solid #482B09;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	right: 15px;
	bottom: 0;
	transition: color .3s ease,  background .3s ease;
	-moz-transition: color .3s ease,  background .3s ease;
	-webkit-transition: color .3s ease,  background .3s ease;
	overflow: hidden;
}

#header .search-caption.selected .search-icon {
	color: #F00;
	font-weight: 600;
	font-family: sans-serif;
	line-height: 20px;
	text-align: center;
	border: none;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#header .search-caption.selected .search-icon:hover {
	color: #FFF;
	background: #F00;
}

#header .search-list {
	opacity: 0;
	margin: auto;
	background: #FFF;
	max-height: 320px;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .12),  0 1px 2px rgba(0, 0, 0, .24);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .12),  0 1px 2px rgba(0, 0, 0, .24);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12),  0 1px 2px rgba(0, 0, 0, .24);
	transform: scaleY(.5) translateY(-75%);
	-moz-transform: scaleY(.5) translateY(-75%);
	-webkit-transform: scaleY(.5) translateY(-75%);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/*
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	*/
	visibility: hidden;
	overflow: hidden;
	overflow-y: auto;
	z-index: 1;
}

#header .search-caption.active ~ .search-list {
	opacity: 1;
	transform: scaleY(1) translateY(1px);
	-moz-transform: scaleY(1) translateY(1px);
	-webkit-transform: scaleY(1) translateY(1px);
	visibility: visible;
}

#header .search-range {
	padding: 20px 15px;
	font-family: sans-serif;
	left: -30px;
	right: -30px;
}

#header .search-list ul { }

#header .search-list li {
	cursor: pointer;
	padding: 5px 10px;
	font-size: 16px;
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
}

#header .search-block[data="area"] li { font-weight: 600; }

#header .search-list li:nth-of-type(even) { background: #F9F9F9; }

#header .search-list li.sub {
	padding: 0;
	background: #F0F0F0;
}

#header .search-list li.sub li {
	padding-left: 30px;
	color: #1A2840;
	font-weight: normal;
	position: relative;
}

#header .search-list li.sub li.active { color: #F44336; }

#header .search-list li:not(.sub):hover { background: #EFEFEF; }

#header .search-list li.sub li:hover { background: #EFEFEF; }

#header .search-list li.sub li:nth-of-type(even):hover { background: #F9F9F9; }

#header .search-list li.sub li:before {
	content: "";
	margin: auto;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	position: absolute;
	top: 0;
	left: 10px;
	bottom: 0;
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
}

#header .search-list li.sub li:hover:before { background: #D7A155; }

#header .search-list li.sub li.active:before { background: #F44336; }

#header .search-list li.active {
	color: #F44336;
	background: #FFF5F5;
}

#header .search-submit { text-align: center; }

#header .search-button {
	cursor: pointer;
	display: inline-block;
}

#header .search-button.search-loading { cursor: wait; }

#header .search-button.search-loading img {
	cursor: wait !important;
	opacity: 1 !important;
}

#search-result {
	padding: 43px 0 88px;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴシックPro", "ＭＳ ゴシック", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#search-result a { color: #FFF; }

#search-result.active { display: block; }

#search-result .s-hide { display: none !important; }

#search-result .breadcrumb {
	margin-top: 27px;
	text-align: center;
}

#search-result .breadcrumb li {
	display: inline-block;
	color: #f39700;
	line-height: 30px;
}

#search-result .breadcrumb li + li:before {
	content: "/";
	display: inline-block;
	margin-left: 10px;
	margin-right: 15px;
	color: #FFF;
	font-weight: bold;
}

#search-result .breadcrumb strong { color: #FFF; }

#search-result .breadcrumb strong:before {
	content: "\FF1E";
	display: inline-block;
	margin-right: 5px;
	font-weight: normal;
}

#search-result .total {
	margin-top: 35px;
	padding-bottom: 3px;
	font-size: 20px;
	line-height: 35px;
	text-align: center;
	letter-spacing: .1em;
}

#search-result .total > * {
	display: inline-block;
	border-bottom: 2px solid #FFF;
}

#search-result .total strong {
	font-size: 35px;
	font-weight: 600;
}

#search-result .pagination {
	margin: 62px 0 32px;
	text-align: center;
}

#search-result .pagination ~ .pagination { margin: 66px 0 0; }

#search-result .pagination ul { }

#search-result .pagination li { display: inline-block; }

#search-result .pagination li > * {
	cursor: pointer;
	display: block;
	margin: 0 5px;
	padding: 0 10px;
	color: #9F9F9F;
	line-height: 25px;
	text-decoration: none;
	background: #292929;
	height: 25px;
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
}

#search-result .pagination li > *:hover,
#search-result .pagination li > *.prev,
#search-result .pagination li > *.next,
#search-result .pagination li > *.current {
	color: #DBD4CC;
	background: #39291A;
}

#search-result .pagination li.disabled > * {
	cursor: not-allowed;
	color: #333;
	background: #111;
}

#search-result .pagination li > *.ellipse {
	margin: 0;
	padding: 0;
	background: none;
}

#search-result .recommend { background: #1B1B1B; }

#search-result .recommend > .name {
	padding: 20px;
	color: #987444;
	font-size: 175%;
	font-weight: 600;
	border-bottom: 1px dashed #333;
}

#search-result .recommend > .row { border-bottom: none; }

#search-result .recommend > .row + .row { /* border-top: 1px solid #858689; */
}

#search-result .row {
	margin: auto;
	padding: 0 42px;
	width: 856px;/* border-bottom: 1px solid #858689; */
}

#search-result .row + .row { }

#search-result .row .rowImg {
	float: left;
	width: 181px;
}

#search-result .row .rowImg img {
	width: auto;
	height: auto;
	max-width: 181px;
	max-height: 181px;
}

#search-result .row .fr {
	float: right;
	width: 648px;
}

#search-result .row h3 {
	padding-top: 16px;
	font-size: 23px;
	font-weight: bold;
	line-height: 24px;
}

#search-result .row table {
	margin-top: 21px;
	width: 100%;
	line-height: 30px;
}

#search-result .row table th {
	padding-left: 26px;
	text-align: left;
	width: 90px;
	position: relative;
}

#search-result .row table th.th1:before {
	content: url('../img/all/sec1_ico1.png');
	position: absolute;
	top: 4px;
	left: 0;
}

#search-result .row table th.th2:before {
	content: url('../img/all/sec1_ico2.png');
	position: absolute;
	top: 4px;
	left: 0;
}

#search-result .row table th.th3:before {
	content: url('../img/all/sec1_ico3.png');
	position: absolute;
	top: 4px;
	left: 0;
}

#search-result .row table th.th4:before {
	content: url('../img/all/sec1_ico4.png');
	position: absolute;
	top: 4px;
	left: 0;
}

#search-result .row table td {
	width: 474px;
	letter-spacing: 0.7px;
}

#search-result .no-result {
	margin: 1em auto;
	padding: 1em;
	color: #EB1B0D;
	font-size: 150%;
	font-weight: 600;
	border: 1px dashed #EB1B0D;
	width: 80%;
}

#nav {
	background: url('../img/shared/bg-nav.png') no-repeat center top;
	padding: 26px 0 14px;
	width: 100%;
	height: 200px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}

#nav .nav { }

/*=============================================
 * key
 *=============================================*/

#key {
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	width: 1600px;
	height: 700px;
	position: relative;
	margin-left: -300px;
}

#key ul { min-height: inherit; }

#key li {
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	min-height: inherit;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/*=============================================
 * container
 *=============================================*/

.box-shadow {
	-webkit-box-shadow: 5px 6px 18px 0px rgba(0,0,0,0.36);
	-moz-box-shadow: 5px 6px 18px 0px rgba(0,0,0,0.36);
	box-shadow: 5px 6px 18px 0px rgba(0,0,0,0.36);
}

#feed .title { word-break: break-word; }

.img-rss {
	transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-webkit-transition: opacity .3s ease;
	position: relative;
}
#feed.feed .item .img-rss:after {
    position: absolute;
    color: #fff;
    top: -7px;
    left: 0;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
}
#feed.feed .item:nth-child(1) .img-rss:after {
    background-color: #b17f17;
    content: "1";
}
#feed.feed .item:nth-child(2) .img-rss:after {
    background-color: #7e7a73;
    content: "2";
}
#feed.feed .item:nth-child(3) .img-rss:after {
    background-color: #8c5112;
    content: "3";
}

.img-rss:hover { opacity: 0.8; }

.txt-center { text-align: center; }

.copy { cursor: pointer; }

/*=============================================
 * #socialbuttons
 *=============================================*/

#socialbuttons { }

/*=============================================
 * footer
 *=============================================*/

div#footer {
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴシックPro", "ＭＳ ゴシック", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	/* background: url('../img/shared/bg-footer.png') repeat-x center top; */
	padding: 0 0 40px;
	width: 100%
}

div#footer ul {
	border-bottom: 1px solid #141619;
	text-align: center;
	padding: 19px 0;
	margin-bottom: 25px;
}

div#footer ul li {
	display: inline;
	font-size: 11px;
	line-height: 26px;
	color: #d7a155
}

div#footer ul li a {
	display: inline-block;
	font-size: 11px;
	line-height: 26px;
	color: #d7a155;
	padding: 0 5px;
	text-decoration: none;
	position: relative;
}
div#footer li a:link {
	text-decoration: none;
}
div#footer li a:hover {
	text-decoration: none;
	color: #d7a155;
}
div#footer ul li a:before {
	content: "";
	position: absolute;
	bottom: 8px;
	left: 5px;
	right: 5px;
	border-bottom: 1px solid #d7a155;
	opacity: 0;
}
div#footer ul li:hover a:before {
	opacity: 1;
}

div#footer .box_footer {
	border: 1px solid #fff;
	padding: 9px 9px 9px 30px;
	width: 471px;
}

div#footer .box_footer p {
	font-size: 13px;
	line-height: 26px;
}

div#footer .txt_footer {
	font-size: 13px;
	line-height: 26px;
	margin-top: 30px;
	width: 420px;
}

div#footer .footer_l {
	width: 510px;
	float: left;
	margin-left: 52px;
}

div#footer .footer_r {
	width: 368px;
	float: right;
}

div#footer .footer_r h5 {
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 16px;
}

div#footer .footer_r p { margin-bottom: 10px; }

div#footer .btn-footer { overflow: auto; }

div#footer .btn-footer p {
	width: 50%;
	float: left;
	text-align: center;
}

/*=============================================
 * copyright
 *=============================================*/

address {
	font-size: 12px;
	margin-top: 85px;
	text-align: center;
}

a:visited, a:active {
	color: #d8a255;
	text-decoration: underline;
}

a:link {
	color: #d8a255;
	text-decoration: underline;
}

a:hover {
	color: #897800;
	text-decoration: underline;
}

/*=============================================
 * BxSlider
 *=============================================*/

.bx-wrapper .bx-pager-item {
	display: inline-block;
	vertical-align: bottom;
}

.bx-wrapper .bx-pager a {
	border: 1px solid #a75430;
	background: #fff;
	text-indent: -9999px;
	display: block;
	width: 12px;
	height: 12px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.bx-wrapper .bx-pager a.active,
.bx-wrapper .bx-pager a:focus,
.bx-wrapper .bx-pager a:hover { background: #000; }

.area_col h2 {
	background: url(../img/members/area_h2_bg.png) no-repeat center 0;
	height: 100px;
	text-align: center;
	font-size: 32px;
	letter-spacing: 1px;
	font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	padding: 26px 0 0 30px;
}

@media screen and (min-width: 768px) {

	.nonePc { display: none; }

	#navFix { display: none; }

	#humburger { display: none; }

	div#footer .btn-footer { display: none; }
}

@media screen and (max-width: 768px) {
	
	#header { height: 628px; }
	html { min-width: auto; }

	img {
		max-width: 100%;
		height: auto;
	}

	.wrap {
		width: auto;
		padding: 0 2%;
	}

	.fl, .fr { float: none; }

	.noneSp { display: none !important; }

	#header .logo {
		top: 115px;
		left: 0;
		width: 100%;
		margin-left: 0;
		text-align: center;
	}

	#nav { display: none !important; }

	#header .wrap { height: 100%; }

	#header #key {
		width: 104%;
		height: 100%;
		-webkit-background-size: cover;
		background-size: cover;
		margin-left: -2%;
	}

	#header .info-head {
		left: 0;
		width: 100%;
		margin-left: 0;
		text-align: center;
	}

	#header .info-head .head_btn {
		margin-bottom: 20px;
		margin-left: 0 !important;
		float: none;
	}

	#header .info-head .ttl {
		position: relative;
		top: 0;
		padding: 0 2%;
	}
	
	#header .search-box {
		top: 350px;
	}
	#header .search-box > * {
		margin: 0;
	}
	#header .search-box .search-row:first-child .search-col + .search-col {
		margin: 0 3%;
	}
	#header .search-col {
		display: block;
		margin: 3%;
		width: auto !important;
	}

	#header .search-row:nth-child(2) {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	#header .search-row:nth-child(3) { display: none; }
	
	#header .search-submit { margin-top: 0; }

	#pagetop {
		bottom: 260px;
		width: 60px;
		right: 4px;
	}

	div#footer { padding-bottom: 110px; }

	div#footer ul {
		padding: 15px 0;
		margin-bottom: 20px;
	}

	div#footer .footer_r { text-align: center; }

	div#footer .footer_r img { width: 100%; }

	div#footer .footer_l,  div#footer .footer_r {
		width: auto;
		margin: 0;
		float: none;
	}

	div#footer .box_footer {
		width: auto;
		padding: 5px;
	}

	address { margin-top: 10px; }

	.img-rss span {
		padding-bottom: 100%;
		display: block;
		width: 100% !important;
		height: auto !important;
	}

	#humburger {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		width: 100%;
	}

	#humburger .navBtn {
		display: block;
		width: 34px;
		height: 36px;
		position: absolute;
		top: 3px;
		right: 1px;
		cursor: pointer;
		padding: 12px 13px 12px 13px;
		text-align: center;
		font-size: 11px;
		line-height: 27px;
		z-index: 1;
	}

	#humburger .navBtn span {
		display: block;
		height: 3px;
		width: 100%;
		background: #fff;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}

	#humburger .navBtn span:nth-of-type(2),
	#humburger .navBtn span:nth-of-type(3) { margin-top: 6px; }

	.navOpen .navBtn span:nth-of-type(1) {
		-webkit-transform: translateY(9px) translateX(0) rotate(45deg);
		-ms-transform: translateY(9px) translateX(0) rotate(45deg);
		transform: translateY(9px) translateX(0) rotate(45deg);
	}

	.navOpen .navBtn span:nth-of-type(2) {
		margin-top: 6px;
		opacity: 0;
		-webkit-transform: translateY(9px);
		-ms-transform: translateY(9px);
		transform: translateY(9px);
	}

	.navOpen .navBtn span:nth-of-type(3) {
		-webkit-transform: translateY(-9px) translateX(0) rotate(-45deg);
		-ms-transform: translateY(-9px) translateX(0) rotate(-45deg);
		transform: translateY(-9px) translateX(0) rotate(-45deg);
	}

	#humburger .close_btn {
		width: 100%;
		height: auto;
		line-height: 40px;
		padding-top: 1px;
		cursor: pointer;
		color: #FFFFFF;
		text-decoration: none;
		font-size: 18px;
		display: block;
		letter-spacing: 0.1em;
		text-align: center;
		background-color: #000;
		z-index: 100;
	}

	#humburger .menu_toggle {
		display: none;
		position: fixed;
		width: 100%!important;
		top: 0px;
		right: 0;
		height: 100vh;
		overflow-y: auto;
		background-color: #121925;
		color: #999;
		padding-top: 64px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	#humburger .menu_toggle li {
		position: relative;
		padding: 3px 5px;
		border-bottom: 1px solid #fff;
		clear: both;
	}

	#humburger .menu_toggle a {
		display: block;
		color: #fff;
		text-decoration: none;
		line-height: 16px;
		font-size: 15px;
		padding: 15px 0 15px 10px;
	}

	#humburger .menu_toggle a span {
		font-size: 14px;
		margin-left: 5px;
		color: #d7a155;
	}

	#humburger .menu_toggle ul li a:after {
		content: "";
		position: absolute;
		right: 12px;
		top: 14px;
		width: 10px;
		height: 21px;
		background: url(../img/shared/arrow.png) no-repeat center center;
		background-size: cover;
	}

	#navFix {
		background-color: #121925;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 10000;
		padding: 5px 0;
	}

	#navFix a {
		display: block;
		width: 25%;
		float: left;
	}
	#navFix a img {
		max-width: 90px;
	}

	#thanks {
		padding: 20px 0;
		text-align: center;
	}

	div#footer .txt_footer { width: 100%; }

	#search-result { padding: 20px 0; }

	#search-result .row {
		padding: 55px 0 20px;
		width: auto;
		position: relative;
	}

	#search-result .row .rowImg { width: 30%; }

	#search-result .row table {
		margin-top: 0;
		line-height: 24px;
	}

	#search-result .row .fr { width: 68%; }

	#search-result .row h3 {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	#search-result .pagination { margin: 20px 0; }

	#search-result .pagination ~ .pagination { margin: 20px 0 0; }
}
